{% extends 'base.html' %} {% block content %}

<style>
    body{
        background-color: black;
    }
</style>
<div class="container p-3 shadow-sm p-3 mb-5 bg-white rounded " >
    <div class="mt-4">
        <h2 class="text-center" style="font-family: KIONA;">Comanda Fácil</h2><hr>
        <table id="prox" class="display table responsive" style="width: 100%;">

        <thead>
            <tr>
                {% for header in results %}
                    <th>
                        {{ header }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for i in range (0, linhas) %}
               
                <tr>
                    {% for row in items %}
                        <td>
                            {{ row[i] }}
                        </td>
                    {% endfor %}
                </tr>
               
            {% endfor %}
        </tbody>

        </table>
    </div>

    <br><br><br>
    <div>
        <button id="teste" type="button" class="btn btn-dark btn-lg btn-block">Fechar Comanda</button>

        
    </div>
    <br>
    <div class="container " id="valores_totais">
        <div class="row">
            <div class="col-sm" id="div_esquerda">
              
            </div>
            <div class="col-sm" id='div_direita'>
             
            </div>

            <div class="col-sm" id='div_dez'>
             
            </div>
            
          </div>
    </div>
    <hr>
    <div class="container" >
        <div class="row"  id="div_valores_clientes">
            
        </div>
    </div>


</div>
<script type="text/javascript">
    $('#prox').DataTable();

    $(document).ready(function(){
        
        $('#teste').on('click', function(){
            var button_s = $('#teste');

            // Disable the submit button while evaluating if the form should be submitted
            button_s.prop('disabled', true);
            //console.log('Teste')
            $.ajax({
                url: '/teste',
                type: 'POST',
                
                }).then(function(data){
                    console.log(data)
                    
                    var valor_dez_por_cliente = data['valor_dez_por_cliente']
                    valor_dez_por_cliente = Number(valor_dez_por_cliente)

                    var exatos_dez_por_cliente = data['exatos_dez_por_cliente']
                    //exatos_dez_por_cliente = Number(exatos_dez_por_cliente)

                    var lista_exatos_dez_por_cliente = []
                    

                    Object.keys(exatos_dez_por_cliente).forEach(function(key){
                        item = exatos_dez_por_cliente[key];
                        lista_exatos_dez_por_cliente.push(item);
                    });
                    //console.log(lista_exatos_dez_por_cliente)


                    var dez_por_cento = data['dez_por_cento']
                    dez_por_cento = dez_por_cento.toString().replace('.',',')
                    let valores_dez= `<div class="card border-success mb-3" style="max-width: 18rem;">
                        <div class="card-header">Valor do 10%</div>
                        <div class="card-body">
                        <p class="card-text">R$: ${dez_por_cento}</p>
                        </div>
                        </div>`
                    
                    var contatotal = data['contatotal']
                    contatotal = contatotal.toString().replace('.',',')

                    var contatotal_mais_dez = data['contatotal_mais_dez']
                    contatotal_mais_dez = contatotal_mais_dez.toString().replace('.',',')
                    let valores_totais_template= `<div class="card border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header">Valores Totais</div>
                    <div class="card-body">
                    <p class="card-text">R$: ${contatotal}</p>
                    </div>
                    </div>`

                    let valores_totais_mais_template= `<div class="card border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header">Valores Totais Mais 10%</div>
                    <div class="card-body">
                    <p class="card-text">R$: ${contatotal_mais_dez}</p>
                    </div>
                    </div>`

                    $('#div_esquerda').append(valores_totais_template)
                    $('#div_direita').append(valores_totais_mais_template)
                    $('#div_dez').append(valores_dez)

                    var lista_final = []
                    var object_lista = data['lista_final']

                    Object.keys(object_lista).forEach(function(key){
                        item = object_lista[key];
                        lista_final.push(item);
                    });
                    //console.log(lista_final)
                    
                    

                    lista_final.forEach(function(essa){
                        

                        console.log(essa)
                        //console.log(valor_dez_por_cliente)
                        var soma = essa[1] + exatos_dez_por_cliente
                        //console.log("SoMA " + soma)

                        let valor_por_cliente= `<div class="col-sm-4 bg-white rounded text-center">
                            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                            <div class="card-header">Cliente: ${essa[0].toString().replace('.',',')} </div>
                            <hr>
                            <div class="card-body">
                            <p class="card-text">R$: ${essa[1].toString().replace('.',',')}+ 10% = <strong>R$: ${essa[2].toString().replace('.',',')}</strong></p>
                            </div>
                            </div>
                            </div>`
                        $('#div_valores_clientes').append(valor_por_cliente)
                    })

                   

                })
            })
        
        
            

    })
   
</script>

{% endblock %}